/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require foundation_and_overrides
 *= require_tree .
 *= require z.css.scss
 */


@font-face {
  font-family: "GeneralFoundicons";
  src: url('fonts/general_foundicons.eot');
  src: url('fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/general_foundicons.woff') format('woff'),
       url('fonts/general_foundicons.ttf') format('truetype'),
       url('fonts/general_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
 ul {
  list-style: none
 }
.link:link {
  color: black;

  }      /* unvisited link */
.link:visited {color:black;}  /* visited link */
.link:hover {color:grey;}  /* mouse over link */
.link:active {color:grey;}  /* selected link */
.white-link:link {
  color: white;
  }      /* unvisited link */
.white-link:visited {color:white;}  /* visited link */
.white-link:hover {color:grey;}  /* mouse over link */
.white-link:active {color:grey;}  /* selected link */
.light-box {
  background-color: #ccf1d9;
  padding: 6px;
  color: black;
}
.medium-icon {
  font-size: 40px;
  padding: 10px;
}
.white-text {
  color: white;
  padding: 5px;
}
.iten-box {
  background-color: #50d07d;
  color: black;
  font-size: 10px;
  border: solid 1px #2ca557;
  padding: 6px;

}
.profile-box {
  background-color: #50d07d;
  color: black;
  font-size: 10px;
  margin: 1px;
  padding: 0 0 0 6px;

}
.side {
  margin-top: 17px;
}
.nav-color {
  background-color: #0b2916
}
.dark-box {
  background-color: #2da758;
  padding: 3px;
}
.title-box-light {
  background-color: #35c467;
  padding: 0 6px;

}
.title-box {
  background-color: #2ca557;
  padding: 0 6px;
}
.comp-title-box {
  background-color: #d050a3;
  padding: 0 6px;
  color: black;
}
.separator {
  height: 1px;
  background-color: white;
}
 .small-text {
  font-size: 10px;
 }
 .white {
  color: white;
 }
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
/*.top-menu {
  background-color: #50d07d;
  width: 100%;
  height: 50px;
  color: white;
}*/
.left {
  padding-left: 3px;
}
.right {
  padding-right: 3px;
}
.form-container {
  width: 500px;
  margin: auto;
  padding: 5px;
  border: 1px grey solid;
}
.user-edit-form-container {
  display: inline-block;
  float: left;
  font-size: 10px;
  width: 500px;
  margin: 25px;
  padding: 10px;
  border: 1px grey solid;
}
.show-container {
  margin: 100px auto;
}
.list-inline {
  display: inline;
}
.user-box{
  display: inline-block;
  background-color: #ccf1d9;
  border: solid 1px grey;
  width: 100;
  height: 150px;
  padding: 5px;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline;
}

.tags li {
  float: left;
}
.tag {
  font-size: 12px;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: #A8D7CF;
  color: white;
}

.tag:hover::after {
   border-left-color: #A8D7CF;
}
.index-container {
  background-color: #50d07d;
  width: 100%;
  height: 650px;
}