.white {
  color: white;
 }
.inline-block {
  display: inline-block;
}
.top-menu {
  background-color: #003580;
  width: 100%;
  height: 60px;
  color: white;
}
.top-menu:active {
  color:white;
}
.panel {
  background-color: AliceBlue;

}
.form-container {
  width: 500px;
  margin: auto;
  padding: 10px;
  border: 1px grey solid;
}
.user-edit-form-container {
  display: inline-block;
  float: left;
  font-size: 10px;
  width: 500px;
  margin: 25px;
  padding: 10px;
  border: 1px grey solid;
}